<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.edu.pu.s1071930.examgame">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="5顏6色"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NumTest9"></activity>
        <activity android:name=".NumTest8" />
        <activity android:name=".NumTest7" />
        <activity android:name=".NumTest6" />
        <activity android:name=".NumTest5" />
        <activity android:name=".NumTest4" />
        <activity android:name=".NumTest3" />
        <activity android:name=".NumTest2" />
        <activity android:name=".NumTest1" />
        <activity android:name=".NumTest" />
        <activity android:name=".ColorTest8" />
        <activity android:name=".ColorTest7" />
        <activity android:name=".ColorTest6" />
        <activity android:name=".ColorTest5" />
        <activity android:name=".ColorTest4" />
        <activity android:name=".ColorTest3" />
        <activity android:name=".ColorTest2" />
        <activity android:name=".ColorTest1" />
        <activity android:name=".ColorTest" />
        <activity android:name=".ChoosePage1" />
        <activity android:name=".ColorGame8" />
        <activity android:name=".ColorGame7" />
        <activity android:name=".ColorGame6" />
        <activity android:name=".ColorGame5" />
        <activity android:name=".ColorGame4" />
        <activity android:name=".ColorGame3" />
        <activity android:name=".ColorGame2" />
        <activity android:name=".ColorGame1" />
        <activity
            android:name=".ui.login.ColorGame1"
            android:label="@string/title_activity_color_game1" />
        <activity android:name=".ColorGame" />
        <activity android:name=".NumGame" />
        <activity android:name=".ChoosePage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>